@import url('font-roboto.css');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

table tr,
table tr td,
table tr th {
  border: 1px solid lightgray;
  padding: 10px;
}

select {
  height: 35px;
}

.btn-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btns input {
  font-size: 32px;
  border: 1px solid black;
  margin: 20px;
}

.hide-text {
  font-size: 0px;
}

.hide-div {
  visibility: hidden;
  height: 0;
}

.show-div {
  visibility: visible;
  height: auto;
}

@media screen and (max-width: 768px) {
  .change {
    padding: 0 !important;
  }

  #um {
    font-size: 36px !important;
  }

  #dois {
    font-size: 22px !important;
  }
}
