@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

table tr,
table tr td,
table tr th {
  border: 1px solid lightgray;
  padding: 10px;
}

select {
  height: 35px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../preloader.gif') center no-repeat #fff;
}

.btn-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btns input {
  font-size: 32px;
  margin: 20px;
}

.hide-text {
  font-size: 0px;
}

.hide-div {
  visibility: hidden;
  height: 0;
}

.show-div {
  visibility: visible;
  height: auto;
}

.input-group.md-form.form-sm.form-1 input {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#link:hover {
  color: lightblue;
  cursor: pointer;
}

#opcoes-colocado,
#opcoes-nao-colocado {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 8px;
}

#opcoes-colocado {
  background: #149078;
}

#opcoes-nao-colocado {
  background: #E74C3C;
}

#opcoes-colocado .card-titulo {
  background: #12806A;
}

#opcoes-nao-colocado .card-titulo {
  background: #C0392B;
}

.card-titulo {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 5px;
  width: 100% !important;
}

.card-titulo p {
  color: white;
  font-weight: 400;
  font-size: 26px;
}

.card-details {
  padding: 20px;
}

.card-details p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.card-details span {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .change {
    padding: 0 !important;
  }

  #um {
    font-size: 36px !important;
  }

  #dois {
    font-size: 22px !important;
  }
}
